@media (min-width: 480px){
	main {
		width: 358px;
		height: 540px;
	}

	main,
	.gradient-pentagon,
	.badge-gap {
		border-radius: 10px;
	}

	.gradient-pentagon {
		height: 128px;
	}

	.badge-rope,
	.badge-gap {
		display: flex;
		position: absolute;
	}

	.badge-rope {
		width: 64px;
		height: 250px;
		top: 0;
		z-index: 3;
		/* border-radius: 0 0 5px 5px; */
		transform: translateY(-230px);

		background-image: var(--color-theme);
	}

	.badge-gap {
		width: 80px;
		height: 10px;
		top: 0;
		margin-top: 1rem;
		z-index: 2;

		background-color: var(--background-page);
	}

}

/* @print */