:root {
  --background-black: #09090A;
  --background-card: #202024;
  --black: 	#1f1f23;
  --light-gray: #e0e0e5;
  --dark-gray: #323238;
  --pink: #FF008E;
  --yellow: #FFCD1E;
  --orange: #FF7A29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--background-black);
}

body,
.icon-link{
  display: grid;
  place-items: center;
}

main {
  background: url(./src/img/background.svg) no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  min-height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--light-gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--light-gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

main,
.icon-link {
  border-radius: 10px;
}

.icon-link {
  width: 48px;
  height: 48px;
  font-size: 1.7rem;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  transition: all ease-in-out 300ms;
}

.icon-link:hover {
  background-image: linear-gradient(to right bottom, #ff008e, #ff1f78, #ff3864, #ff4d51, #ff6140, #ff7036, #ff802b, #ff8f20, #ff9f1b, #ffae18, #ffbe18, #ffcd1e);
  border-radius: 25px;
  transform: translateY(-5px);
}

.github-usr:hover {
  color: var(--yellow);
}
